<app-header></app-header>
<div class="container" style="margin-bottom: 100px;">
<div class="row mt-5">
    <h2>Today's Appointments</h2>
    <div class="accordion mt-5" id="accordionExample" style="width: 100% !important;">
        <div class="card" *ngFor="let appointment of appointmentsArr">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <div style="width: 100%;">
                <div style="display: inline-block; width: 100%;">
                  <a [routerLink]="['/patientHistory']" [queryParams]="{ id : appointment.patientId }" routerLinkActive="router-link-active" ><span style="float: left;">{{appointment.patientName}}</span></a>
                  <span style="float: right;"><strong>Date-Time: </strong>{{appointment.date + ' ' +appointment.time}}</span>
                </div>
              </div>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <strong>Appointment Description: </strong>{{appointment.description}}
            </div>
          </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
