<app-header></app-header>
<div class="container" style="margin-bottom: 100px;">
  <form method="POST" #scheduleForm="ngForm">
    <section id="hospital-form" class="mt-5 row">
      <div class="col-md-5 mt-5 ml-5 mr-5">
        <h3>Add Schedule</h3>
        <br />
        <div class="form-group">
          <label>Hospital Name</label>
          <select
            id="HospitalBrowsers"
            class="form-control"
            name="txtHospital"
            id="txtHospital"
            [(ngModel)]="scheduleObj.hospitalId"
            #txtHospital="ngModel"
          >
            <option
              *ngFor="let hospital of allHospitalsArr"
              value="{{hospital.hospitalId}}"
              >{{ hospital["name"] }}</option
            >
          </select>
        </div>
        <div class="form-group">
          <input
            type="date"
            class="form-control"
            name="txtDate"
            id="txtDate"
            [(ngModel)]="scheduleObj.date"
            #txtDate="ngModel"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="time"
            class="form-control"
            name="txtTime"
            id="txtTime"
            [(ngModel)]="scheduleObj.time"
            #txtTime="ngModel"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="button"
            class="btn btn-primary"
            [disabled]="scheduleForm.invalid"
            value="Add Schedule"
            (click)="addSchedule()"
          />
        </div>
        <div *ngIf="txtHospital.touched || txtDate.touched || txtTime.touched">
          <div *ngIf="txtHospital.errors?.required && txtHospital.touched">
            <span class="text-danger">Hospital is required</span>
          </div>
          <div *ngIf="txtDate.errors?.required && txtDate.touched">
            <span class="text-danger">Date is required</span>
          </div>
          <div *ngIf="txtTime.errors?.required && txtTime.touched">
            <span class="text-danger">Time is required</span>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
<app-footer></app-footer>
