<app-header></app-header>
<div class="container" style="margin-bottom: 100px;">
  <form method="POST" #scheduleForm="ngForm">
    <section id="hospital-form" class="mt-5 row">
        <div class="col-md-5 mt-5 ml-5 mr-5">
          <h3>Add Schedule</h3><br>
            <div class="form-group">
                <label>Hospital Name</label>
                <input name="txtHospital" id="txtHospital" ngModel #txtHospital="ngModel" list="HospitalBrowsers"  class="form-control" placeholder="Select Hospital">
                <datalist id="HospitalBrowsers">
                    <option value="ABC">ABC</option>
                    <option value="XYZ">XYZ</option>
                    <option value="PQR">PQR</option>
                </datalist>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="txtDate" id="txtDate" ngModel #txtDate="ngModel">
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Add Schedule">
            </div>
        </div>
    </section>
  </form>
</div>
<app-footer></app-footer>
